header{
    height: 680px;
    background-color:beige;
    background-image: url(img/1_9VPqUcciv6Ao5mOh2mNvsw.jpeg);
    background-size: cover;
}
#boutonnav{
    width:96px;
    height: 32px;
}
#sectionhero{
    height: 680px;
    /* background-color: beige; */
}
.jumbotron{
    margin-top: 125px;
    background-color: transparent;
    margin-bottom: 258px;
}
#quickinfo{
    height: 120px;
    background-color: #FBF8F6;
}
.logo{
    width: 108px;
    height: 49px;
}
#what_we_do{
    padding-top: 147px;
}
.btn{
    background-color: #0E6248;
}
#volunteer{
    margin-bottom: 92px;
}
#premiere_image, #deuxieme_image,#troisieme_image{
   margin-top:-24px;
   margin-left: 24px;
    width: 280px;
    height: 168px;
}
.card-text{
    height: 132px;
    width: 232px;
}
.card{
    height: 100%;
width: 280px;

border-radius: 8px;
}
h5{
    font-size: 18px;
}
#stats{
    margin-top: 120px;
    margin-bottom: 70px;

    padding-right: 24px;
    padding-left:24px;
    padding-top: 67px;

    background: #FBF8F6;
    border-radius: 8px;

    font-size:20px;
}

.bouton_card{
    margin:auto;
    margin-top: 32px;
}

#donate{
    height: 340px;
width: 380px;
border-radius: 4px;

background: #FFFFFF;
border: 1px solid #FBF8F6;
box-sizing: border-box;
box-shadow: 0px 0px 20px rgba(16, 114, 83, 0.16);
border-radius: 4px;

padding-top: 30px;
padding-bottom: 30px;
padding-left:26px;
padding-right: 22px;
}

#InputAmount{
    border-right: none;
    border: radius 0;
}

#card_download{
    padding-bottom: 120px;
}

#newsletter{
    height: 200px;
    background-color: #0E6248;
}
#email{
   
}
#gallery{
    height: 382px;
    /* position: relative; */
    
}
#surfeur{
    position: absolute;
    width: 240px;
    height: 320px;
    left: 320px;
    top: 1829px;
    background: url(img/surfeur.png);
    border-radius: 8px;
}
#plage{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 164px;
    top: 1819px;
    background: url(img/plage.png);
    border-radius: 8px;
}
#nuage{
    position: absolute;
    width: 200px;
    height: 160px;
    left: 84px;
    top: 1985px;
    
    background: url(img/nuage.png);
    border-radius: 8px;
}
#portraithomme{
    position: absolute;
    width: 336px;
    height: 144px;
    left: -208px;
    top: 1805px;
    
    background: url(img/portrait\ homme.png);
    border-radius: 8px;
}
#foret{
    position: absolute;
    width: 160px;
    height: 160px;
    left: -112px;
    top: 1975px;
    background: url(img/foret.png);
    border-radius: 8px;
}
#yeuxfemme{
    position: absolute;
    width: 336px;
    height: 144px;
    left: 606px;
    top: 1805px;  
    background: url(img/yeuxfemme.png);
    border-radius: 8px;
}
#lecture{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 593px;
    top: 1975px;   
    background: url(img/lecture.png);
    border-radius: 8px;
}
#fruit{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 782px;
    top: 1995px;
    
    background: url(img/fruit.png);
    border-radius: 8px;
}
#canyon{
    position: absolute;
    width: 160px;
    height: 306px;
    left: 978px;
    top: 1851px;
    
    background: url(img/canyon.png);
    border-radius: 8px;
}
#mer{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 1174px;
    top: 1815px;
    
    background: url(img/mer.png);
    border-radius: 8px;
}
#citron{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 1174px;
    top: 1981px;
    
    background: url(img/citron.png);
    border-radius: 8px;

}
#vague{
    position: absolute;
    width: 200px;
    height: 120px;
    left: 1330px;
    top: 1805px;
    
    background: url(img/vague.png);
    border-radius: 8px;
}
#ciel{
    position: absolute;
    width: 160px;
    height: 216px;
    left: 1370px;
    top: 1951px;    
    background: url(img/ciel.png);
    border-radius: 8px;
}
footer{
    height: 200px;
    background-color: #272727;
    margin-top: 104px;
}
#footercontainer{
    width: 1140px;
}