header{
    height: 680px;
    background-color:beige;
    background-image: url(img/1_9VPqUcciv6Ao5mOh2mNvsw.jpeg);
    background-size: cover;
}
#boutonnav{
    width:96px;
    height: 32px;
}
#sectionhero{
    height: 680px;
    /* background-color: beige; */
}
.jumbotron{
    margin-top: 125px;
    background-color: transparent;
    margin-bottom: 258px;
}
#quickinfo{
    height: 120px;
    background-color: #FBF8F6;
}
.logo{
    width: 108px;
    height: 49px;
}
#what_we_do{
    padding-top: 147px;
}
.btn{
    background-color: #0E6248;
}
#volunteer{
    margin-bottom: 92px;
}
#premiere_image, #deuxieme_image,#troisieme_image{
   margin-top:-24px;
   margin-left: 24px;
    width: 280px;
    height: 168px;
}
.card-text{
    height: 132px;
    width: 232px;
}
.card{
    height: 100%;
width: 280px;

border-radius: 8px;
}
h5{
    font-size: 18px;
}
#stats{
    margin-top: 120px;
    margin-bottom: 70px;

    padding-right: 24px;
    padding-left:24px;
    padding-top: 67px;

    background: #FBF8F6;
    border-radius: 8px;

    font-size:20px;
}

.bouton_card{
    margin:auto;
    margin-top: 32px;
}